@import 'skin';
.footer-m {
  float: left;
  width: 100%;
  padding: 10px 10px 60px;
}
.back-top-top-m{
  float: left;
  width: 100%;
  padding: 0 10px;
}
.back-top-top-m > a{
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid $text-palette-6;
  padding: 0 10px;
  font-size: 13px;
  line-height: 40px;
  color: $text-palette-4;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
.footer-content {
  padding: 10px;
  font-size: 13px;
  line-height: 16px;
  color: $text-palette-6;
  float: left;
  .footer-text {
    margin: 10px 0;
    float: left;
  }
  .footer-images {
    float: left;
    a {
      padding: 10px 0;
      margin: 0px 10px;
      &.br {
        display: block;
      }
      img {
        height: 30px;
      }
    }
  }
}
//.logo-f{
//  float: left;
//  width: 100%;
//  text-indent: -9999em;
//  margin: 8px 0 0;
//}
//.logo-f > a{
//  display: block;
//  width: 100%;
//  height: 40px;
//  background: $logo-footer;
//}

.social-icons-footer-m{
  float: left;
  width: 100%;
  padding: 0 10px;
  overflow: hidden;
  text-align: center;
}
.social-icons-footer-m > ul{
  float: left;
  width: 100%;
  padding: 20px 0;
  vertical-align: top;
  text-align: center;
}
.social-icons-footer-m > ul > li{
  display: inline-block;
}
.social-icons-footer-m > ul > li > a{
  text-decoration: none;
  display: inline-block;
  font: 28px/28px icomoon;
  text-decoration: none;
  margin: 12px 6px 0;
  overflow: hidden;
  border-radius: 2px;
  color: $skin-palette-6;
}
.social-icons-footer-m .facebook >a:before{
  content: "\e91f";
}
.social-icons-footer-m .twitter >a:before{
  content: "\e922";
}
.social-icons-footer-m .google >a:before{
  content: "\e920";
}
.social-icons-footer-m .instagram >a:before{
  content: "\e921";
}