@font-face {
    font-family: 'Iran-f';
    src: url('../../../../fonts/iran/IRAN_SemiBold.eot'),
    url('../../../../fonts/iran/IRAN_SemiBold.eot') format('embedded-opentype'),
    url('../../../../fonts/iran/IRAN_SemiBold.woff2') format('woff2'),
    url('../../../../fonts/iran/IRAN_SemiBold.woff') format('woff'),
    url('../../../../fonts/iran/IRAN_SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Iran-f';
    src: url('../../../../fonts/iran/IRAN_SemiBold.eot'),
    url('../../../../fonts/iran/IRAN_SemiBold.eot') format('embedded-opentype'),
    url('../../../../fonts/iran/IRAN_SemiBold.woff2') format('woff2'),
    url('../../../../fonts/iran/IRAN_SemiBold.woff') format('woff'),
    url('../../../../fonts/iran/IRAN_SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}