@import 'skin';
//Dashboard Pre-match game
.name-game-row-m{
  float: left;
  width: 100%;
  height: 34px;
  background: $skin-palette-10;
  margin: 0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06) inset;
}
.game-title-info-row-m{
  float: left;
  width: 100%;
  position: relative;
  padding: 0 30px 0 10px;
}
.arrow-game-view-m{
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 34px;
  font: 20px/34px icomoon;
  color: $text-palette-6;
  text-align: center;
}
.arrow-game-view-m:before{
  content: "\e672";
}
.game-title-info-row-m > ul{
  float: left;
  width: 100%;
  position: relative;
  height: 34px;
  padding: 0 40px 0 58px;
}
.game-title-info-row-m > ul > li{
  float: left;
  width: 100%;
}
.game-title-info-row-m > ul > li > p{
  float: left;
  width: 100%;
  font-size: 11px;
  line-height: 34px;
  color: $text-palette-6;
}
.game-title-info-row-m > ul > li.time-column-m{
  position: absolute;
  width: 50px;
  left: 0;
  top: 0;
  height: 100%;
}
.game-title-info-row-m > ul > li.market-count-view-m{
  position: absolute;
  width: 40px;
  right: 0;
  top: 0;
  height: 100%;
}
.game-title-info-row-m > ul > li.market-count-view-m > p{
  text-align: right;
}
.names-mini-row-m{
  float: left;
  width: 100%;
}
.names-mini-row-m > ul{
  float: left;
  width: 100%;
}
.names-mini-row-m > ul > li{
  float: left;
  height: 34px;
}
.names-mini-row-m > ul > li > p{
  float: left;
  width: 100%;
  font-size: 11px;
  line-height: 34px;
  color: $text-palette-6;
}
.names-mini-row-m > ul > li.vs-team-view-m{
  width: 30px;
  text-align: center;
}
.names-mini-row-m > ul > li.title-team-name-view-m{
  max-width: calc((100% - 30px) / 2);
}
.names-mini-row-m > ul > li.title-team-name-view-m > p{
  color: $text-palette-3;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.no-games-text-m{
  float: left;
  width: 100%;
  margin: 30px 0 0;
  padding: 10px;
  color: $text-palette-6;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
.coefficient-game-view{
  float: left;
  width: 100%;
}
.coefficient-game-view > ul{
  float: left;
  width: 100%;
  display: table;
  margin: 1px 0 0;
  table-layout: fixed;
}
.coefficient-game-view > ul > li{
  display: table-cell;
  vertical-align: middle;
  background: darken( saturate( adjust-hue( $skin-palette-11, -16deg ), 10 ), 8 );
  padding: 0 0 0 1px;
}
.coefficient-game-view > ul > li:first-child{
  padding-left: 0;
}
.single-coefficient-m{
  float: left;
  width: 100%;
  height: 44px;
  background: darken( saturate( adjust-hue( $skin-palette-7, 5deg ), 7 ), 18 );
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06) inset;
  display: table;
  transition: background 240ms;
  position: relative;
  z-index: 22;
  overflow: hidden;
}
.single-coefficient-m > p{
  display: table-cell;
  vertical-align: top;
  padding: 0;
  position: relative;
  font-size: 14px;
  line-height: 44px;
  width: 100%;
  height: 44px;
  color: $text-palette-5;
}
.single-coefficient-m > p > b{
  font-weight: normal;
  position: absolute;
  padding: 0 0 0 10px;
  left: 0;
  top: 0;
  display: table;
  width: 100%;
  height: 44px;
  //white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  table-layout: fixed;
}
.event-text-v-b{
  display: table-cell;
  vertical-align: middle;
  padding: 1px 0 0;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.single-coefficient-m > span{
  display: table-cell;
  text-align: right;
  font-size: 14px;
  line-height: 44px;
  padding: 0 10px;
  height: 100%;
  color: $coef-color;
  white-space: nowrap;
}
.single-coefficient-m > span > i{
  font-style: normal;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 0 0 0 10px;
}
.top-m:before{
  content: "\e66c";
  display: block;
  position: absolute;
  left: -3px;
  top: 0;
  font: 14px/44px icomoon;
  color: #ff0000;
  animation: change-price 600ms 3 ease-in-out;
}
.bot-m:before{
  content: "\e66d";
  display: block;
  position: absolute;
  left: -3px;
  top: 0;
  font: 14px/44px icomoon;
  color: #008000;
  animation: change-price-top 600ms 3 ease-in-out;
}
.game-information-m > ul > li.factor-m > .single-coefficient-m{
  height: 60px;
  line-height: 60px;
  background: $skin-palette-9;
  box-shadow: 0 1px 0 rgba(123, 129, 145, 0.15) inset, 1px 0 0 darken( saturate( adjust-hue( $skin-palette-11, -16deg ), 10 ), 8 ) inset;
}
.game-information-m > ul > li.factor-m > .single-coefficient-m > span{
  font-size: 12px;
  line-height: 60px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  padding: 0;
  text-align: center;
}
.game-information-m > ul > li.factor-m > .single-coefficient-m > span > i{
  display: inline-block;
  vertical-align: top;
  font-style: normal;
  position: relative;
  padding: 0;
}
.game-information-m > ul.blocked > li.factor-m > .single-coefficient-m > span > i{
  display: none;
}
.game-information-m > ul > li.factor-m > .single-coefficient-m > span > i.bot-m,
.game-information-m > ul > li.factor-m > .single-coefficient-m > span > i.top-m{
  padding-left: 10px;
}
.game-information-m > ul > li.factor-m > .single-coefficient-m > span > i:before{
  line-height: 60px;
}
@keyframes change-price-top{
  1% {transform: translate3d(0,0,0);opacity: 1; }
  25% {transform: translate3d(0,-2px,0);opacity: 0.5;}
  50%{transform: translate3d(0,0,0);opacity: 1;}
  75% {transform: translate3d(0,3px,0);opacity: 0.5;}
  100% {transform: translate3d(0,0,0);opacity: 1;}
}
@keyframes change-price{
  0% {transform: translate3d(0,0,0);opacity: 1;}
  25% {transform: translate3d(0,3px,0);opacity: 0.5;}
  50%{transform: translate3d(0,0,0);opacity: 1;}
  75% {transform: translate3d(0,-2px,0);opacity: 0.5;}
  100% {transform: translate3d(0,0,0);opacity: 1;}
}
.single-coefficient-m.active,
.game-information-m > ul > li.factor-m > .single-coefficient-m.active{
  background: $hero-color;
  position: relative;
  overflow: hidden;
}
.single-coefficient-m.active > span,
.game-information-m > ul > li.factor-m > .single-coefficient-m.active > span,
.single-coefficient-m.active > span > i.bot-m:before,
.single-coefficient-m.active > span > i.top-m:before{
  color: set-color($hero-color);
}
.single-coefficient-m.active > p{
  color: set-color($hero-color);
}
.single-coefficient-m.active:before{
  font: 16px/44px icomoon;
  color: set-color($hero-color);
  content: "\54";
  display: block;
  width: 99%;
  top: 0;
  right: 0;
  position: absolute;
  text-align: center;
  opacity: 0;
  background: $hero-color;
  animation: add-betslip 400ms ease-in-out;
  z-index: 22;
}
.game-information-m > ul > li.factor-m > .single-coefficient-m.active:before{
  line-height: 60px;
}
@keyframes add-betslip{
  0% {transform: translate3d(0,0,0);opacity: 0;}
  50%{transform: translate3d(0,0,0);opacity: 1;}
  100% {transform: translate3d(0,-100%,0);opacity: 0;display: none;}
}
//Dashboard Pre-match game END