.flag-view-m{
  position: absolute;
  display: block;
  left: 10px;
  top: 9px;
  width: 22px;
  height: 22px;
  max-width: 100%;
  background-image: url(../../../images/flags-sprite.png);
  background-size: 100%;
  //image-rendering: pixelated;
}
.icon-asean {background-position: 0 0%;}
.icon-afghanistan {background-position: 0 0.355872%;}
.icon-africa {background-position: 0 0.711744%;}
.icon-aland {background-position: 0 1.067616%;}
.icon-albania {background-position: 0 1.423488%;}
.icon-alderney {background-position: 0 1.779359%;}
.icon-algeria {background-position: 0 2.135231%;}
.icon-americansamoa {background-position: 0 2.491103%;}
.icon-andorra {background-position: 0 2.846975%;}
.icon-angola {background-position: 0 3.202847%;}
.icon-anguilla {background-position: 0 3.558719%;}
.icon-antiguaandbarbuda {background-position: 0 3.914591%;}
.icon-arableague {background-position: 0 4.270463%;}
.icon-argentina {background-position: 0 4.626335%;}
.icon-armenia {background-position: 0 4.982206%;}
.icon-aruba {background-position: 0 5.338078%;}
.icon-asia {background-position: 0 5.69395%;}
.icon-australia {background-position: 0 6.049822%;}
.icon-austria {background-position: 0 6.405694%;}
.icon-azerbaijan {background-position: 0 6.761566%;}
.icon-bahamas {background-position: 0 7.117438%;}
.icon-bahrain {background-position: 0 7.47331%;}
.icon-bangladesh {background-position: 0 7.829181%;}
.icon-barbados {background-position: 0 8.185053%;}
.icon-basquecountry {background-position: 0 8.540925%;}
.icon-belarus {background-position: 0 8.896797%;}
.icon-belgium {background-position: 0 9.252669%;}
.icon-belize {background-position: 0 9.608541%;}
.icon-benin {background-position: 0 9.964413%;}
.icon-bermuda {background-position: 0 10.320285%;}
.icon-bhutan {background-position: 0 10.676157%;}
.icon-bolivia {background-position: 0 11.032028%;}
.icon-bonairesinteustatiusandsaba {background-position: 0 11.3879%;}
.icon-bosniaherzegovina {background-position: 0 11.743772%;}
.icon-botswana {background-position: 0 12.099644%;}
.icon-bouvet {background-position: 0 12.455516%;}
.icon-brazil {background-position: 0 12.811388%;}
.icon-britishindianoceanterritory {background-position: 0 13.16726%;}
.icon-brunei {background-position: 0 13.523132%;}
.icon-bulgaria {background-position: 0 13.879004%;}
.icon-burkinafaso {background-position: 0 14.234875%;}
.icon-burundi {background-position: 0 14.590747%;}
.icon-caricom {background-position: 0 14.946619%;}
.icon-cis {background-position: 0 15.302491%;}
.icon-cambodja {background-position: 0 15.658363%;}
.icon-cameroon {background-position: 0 16.014235%;}
.icon-canada {background-position: 0 16.370107%;}
.icon-capeverde {background-position: 0 16.725979%;}
.icon-catalonia {background-position: 0 17.081851%;}
.icon-caymanislands {background-position: 0 17.437722%;}
.icon-centralafricanrepublic {background-position: 0 17.793594%;}
.icon-chad {background-position: 0 18.149466%;}
.icon-chile {background-position: 0 18.505338%;}
.icon-china {background-position: 0 18.86121%;}
.icon-christmas {background-position: 0 19.217082%;}
.icon-cocoskeeling {background-position: 0 19.572954%;}
.icon-colombia {background-position: 0 19.928826%;}
.icon-commonwealth {background-position: 0 20.284698%;}
.icon-comoros {background-position: 0 20.640569%;}
.icon-congobrazzaville {background-position: 0 20.996441%;}
.icon-congokinshasa {background-position: 0 21.352313%;}
.icon-cookislands {background-position: 0 21.708185%;}
.icon-costarica {background-position: 0 22.064057%;}
.icon-cotedivoire {background-position: 0 22.419929%;}
.icon-croatia {background-position: 0 22.775801%;}
.icon-cuba {background-position: 0 23.131673%;}
.icon-curacao {background-position: 0 23.487544%;}
.icon-cyprus {background-position: 0 23.843416%;}
.icon-czechrepublic {background-position: 0 24.199288%;}
.icon-denmark {background-position: 0 24.55516%;}
.icon-djibouti {background-position: 0 24.911032%;}
.icon-dominica {background-position: 0 25.266904%;}
.icon-dominicanrepublic {background-position: 0 25.622776%;}
.icon-ecuador {background-position: 0 25.978648%;}
.icon-egypt {background-position: 0 26.33452%;}
.icon-elsalvador {background-position: 0 26.690391%;}
.icon-england {background-position: 0 27.046263%;}
.icon-equatorialguinea {background-position: 0 27.402135%;}
.icon-eritrea {background-position: 0 27.758007%;}
.icon-estonia {background-position: 0 28.113879%;}
.icon-ethiopia {background-position: 0 28.469751%;}
.icon-europe {background-position: 0 28.825623%;}
.icon-fao {background-position: 0 29.181495%;}
.icon-falkland {background-position: 0 29.537367%;}
.icon-faroes {background-position: 0 29.893238%;}
.icon-fiji {background-position: 0 30.24911%;}
.icon-finland {background-position: 0 30.604982%;}
.icon-france {background-position: 0 30.960854%;}
.icon-french-guiana {background-position: 0 31.316726%;}
.icon-frenchsouthernandantarcticlands {background-position: 0 31.672598%;}
.icon-gabon {background-position: 0 32.02847%;}
.icon-galicia {background-position: 0 32.384342%;}
.icon-gambia {background-position: 0 32.740214%;}
.icon-georgia {background-position: 0 33.096085%;}
.icon-germany {background-position: 0 33.451957%;}
.icon-ghana {background-position: 0 33.807829%;}
.icon-gibraltar {background-position: 0 34.163701%;}
.icon-greece {background-position: 0 34.519573%;}
.icon-greenland {background-position: 0 34.875445%;}
.icon-grenada {background-position: 0 35.231317%;}
.icon-guadeloupe {background-position: 0 35.587189%;}
.icon-guam {background-position: 0 35.94306%;}
.icon-guatemala {background-position: 0 36.298932%;}
.icon-guernsey {background-position: 0 36.654804%;}
.icon-guinea {background-position: 0 37.010676%;}
.icon-guineabissau {background-position: 0 37.366548%;}
.icon-guyana {background-position: 0 37.72242%;}
.icon-haiti {background-position: 0 38.078292%;}
.icon-heardislandandmcdonald {background-position: 0 38.434164%;}
.icon-honduras {background-position: 0 38.790036%;}
.icon-hongkong {background-position: 0 39.145907%;}
.icon-hungary {background-position: 0 39.501779%;}
.icon-iaea {background-position: 0 39.857651%;}
.icon-iho {background-position: 0 40.213523%;}
.icon-iceland {background-position: 0 40.569395%;}
.icon-india {background-position: 0 40.925267%;}
.icon-indonezia {background-position: 0 41.281139%;}
.icon-international {background-position: 0 41.637011%;}
.icon-iran {background-position: 0 41.992883%;}
.icon-iraq {background-position: 0 42.348754%;}
.icon-ireland {background-position: 0 42.704626%;}
.icon-islamicconference {background-position: 0 43.060498%;}
.icon-isleofman {background-position: 0 43.41637%;}
.icon-israel {background-position: 0 43.772242%;}
.icon-italy {background-position: 0 44.128114%;}
.icon-jamaica {background-position: 0 44.483986%;}
.icon-japan {background-position: 0 44.839858%;}
.icon-jersey {background-position: 0 45.19573%;}
.icon-jordan {background-position: 0 45.551601%;}
.icon-kazakhstan {background-position: 0 45.907473%;}
.icon-kenya {background-position: 0 46.263345%;}
.icon-kiribati {background-position: 0 46.619217%;}
.icon-kosovo {background-position: 0 46.975089%;}
.icon-kuwait {background-position: 0 47.330961%;}
.icon-kyrgyzstan {background-position: 0 47.686833%;}
.icon-laos {background-position: 0 48.042705%;}
.icon-latvia {background-position: 0 48.398577%;}
.icon-lebanon {background-position: 0 48.754448%;}
.icon-lesotho {background-position: 0 49.11032%;}
.icon-liberia {background-position: 0 49.466192%;}
.icon-libya {background-position: 0 49.822064%;}
.icon-liechtenshein {background-position: 0 50.177936%;}
.icon-lithuania {background-position: 0 50.533808%;}
.icon-luxembourg {background-position: 0 50.88968%;}
.icon-macao {background-position: 0 51.245552%;}
.icon-macedonia {background-position: 0 51.601423%;}
.icon-madagascar {background-position: 0 51.957295%;}
.icon-malawi {background-position: 0 52.313167%;}
.icon-malaysia {background-position: 0 52.669039%;}
.icon-maldives {background-position: 0 53.024911%;}
.icon-mali {background-position: 0 53.380783%;}
.icon-malta {background-position: 0 53.736655%;}
.icon-marshallislands {background-position: 0 54.092527%;}
.icon-martinique {background-position: 0 54.448399%;}
.icon-mauritania {background-position: 0 54.80427%;}
.icon-mauritius {background-position: 0 55.160142%;}
.icon-mayotte {background-position: 0 55.516014%;}
.icon-mexico {background-position: 0 55.871886%;}
.icon-micronesia {background-position: 0 56.227758%;}
.icon-moldova {background-position: 0 56.58363%;}
.icon-monaco {background-position: 0 56.939502%;}
.icon-mongolia {background-position: 0 57.295374%;}
.icon-montenegro {background-position: 0 57.651246%;}
.icon-montserrat {background-position: 0 58.007117%;}
.icon-morocco {background-position: 0 58.362989%;}
.icon-mozambique {background-position: 0 58.718861%;}
.icon-myanmar {background-position: 0 59.074733%;}
.icon-nato {background-position: 0 59.430605%;}
.icon-namibia {background-position: 0 59.786477%;}
.icon-nauru {background-position: 0 60.142349%;}
.icon-nepal {background-position: 0 60.498221%;}
.icon-netherlandsantilles {background-position: 0 60.854093%;}
.icon-newcaledonia {background-position: 0 61.209964%;}
.icon-newzealand {background-position: 0 61.565836%;}
.icon-nicaragua {background-position: 0 61.921708%;}
.icon-niger {background-position: 0 62.27758%;}
.icon-nigeria {background-position: 0 62.633452%;}
.icon-niue {background-position: 0 62.989324%;}
.icon-norfolk {background-position: 0 63.345196%;}
.icon-northamerica {background-position: 0 63.701068%;}
.icon-northkorea {background-position: 0 64.05694%;}
.icon-northerncyprus {background-position: 0 64.412811%;}
.icon-northernireland {background-position: 0 64.768683%;}
.icon-northernmariana {background-position: 0 65.124555%;}
.icon-norway {background-position: 0 65.480427%;}
.icon-oas {background-position: 0 65.836299%;}
.icon-opec {background-position: 0 66.192171%;}
.icon-oceania {background-position: 0 66.548043%;}
.icon-olimpics {background-position: 0 66.903915%;}
.icon-oman {background-position: 0 67.259786%;}
.icon-pakistan {background-position: 0 67.615658%;}
.icon-palau {background-position: 0 67.97153%;}
.icon-palestine {background-position: 0 68.327402%;}
.icon-panama {background-position: 0 68.683274%;}
.icon-papuanewguinea {background-position: 0 69.039146%;}
.icon-paraguay {background-position: 0 69.395018%;}
.icon-peru {background-position: 0 69.75089%;}
.icon-philippines {background-position: 0 70.106762%;}
.icon-pitcairn {background-position: 0 70.462633%;}
.icon-poland {background-position: 0 70.818505%;}
.icon-portugal {background-position: 0 71.174377%;}
.icon-puertorico {background-position: 0 71.530249%;}
.icon-qatar {background-position: 0 71.886121%;}
.icon-quebec {background-position: 0 72.241993%;}
.icon-redcross {background-position: 0 72.597865%;}
.icon-reunion {background-position: 0 72.953737%;}
.icon-romania {background-position: 0 73.309609%;}
.icon-russia {background-position: 0 73.66548%;}
.icon-rwanda {background-position: 0 74.021352%;}
.icon-saintbarthelemy {background-position: 0 74.377224%;}
.icon-sainthelena {background-position: 0 74.733096%;}
.icon-saintlucia {background-position: 0 75.088968%;}
.icon-saintmartin {background-position: 0 75.44484%;}
.icon-saintpierreandmiquelon {background-position: 0 75.800712%;}
.icon-samoa {background-position: 0 76.156584%;}
.icon-sanmarino {background-position: 0 76.512456%;}
.icon-saotomeandprincipe {background-position: 0 76.868327%;}
.icon-saudiarabia {background-position: 0 77.224199%;}
.icon-scotland {background-position: 0 77.580071%;}
.icon-senegal {background-position: 0 77.935943%;}
.icon-serbia {background-position: 0 78.291815%;}
.icon-seychelles {background-position: 0 78.647687%;}
.icon-sierraleone {background-position: 0 79.003559%;}
.icon-singapore {background-position: 0 79.359431%;}
.icon-sintmaarten {background-position: 0 79.715302%;}
.icon-slovakia {background-position: 0 80.071174%;}
.icon-slovenia {background-position: 0 80.427046%;}
.icon-solomonislands {background-position: 0 80.782918%;}
.icon-somalia {background-position: 0 81.13879%;}
.icon-somaliland {background-position: 0 81.494662%;}
.icon-southafrica {background-position: 0 81.850534%;}
.icon-southamerica {background-position: 0 82.206406%;}
.icon-southgeorgiaandsouthsandwich {background-position: 0 82.562278%;}
.icon-southkorea {background-position: 0 82.918149%;}
.icon-southsudan {background-position: 0 83.274021%;}
.icon-spain {background-position: 0 83.629893%;}
.icon-srilanka {background-position: 0 83.985765%;}
.icon-stkittsandnevis {background-position: 0 84.341637%;}
.icon-stvincentandthegrenadines {background-position: 0 84.697509%;}
.icon-sudan {background-position: 0 85.053381%;}
.icon-suriname {background-position: 0 85.409253%;}
.icon-svalbardandjanmayen {background-position: 0 85.765125%;}
.icon-swaziland {background-position: 0 86.120996%;}
.icon-sweden {background-position: 0 86.476868%;}
.icon-switzerland {background-position: 0 86.83274%;}
.icon-syria {background-position: 0 87.188612%;}
.icon-tahiti {background-position: 0 87.544484%;}
.icon-taiwan {background-position: 0 87.900356%;}
.icon-tajikistan {background-position: 0 88.256228%;}
.icon-tanzania {background-position: 0 88.6121%;}
.icon-thailand {background-position: 0 88.967972%;}
.icon-timorleste {background-position: 0 89.323843%;}
.icon-togo {background-position: 0 89.679715%;}
.icon-tokelau {background-position: 0 90.035587%;}
.icon-tonga {background-position: 0 90.391459%;}
.icon-trinidadtobago {background-position: 0 90.747331%;}
.icon-tristandacunha {background-position: 0 91.103203%;}
.icon-tunisia {background-position: 0 91.459075%;}
.icon-turkey {background-position: 0 91.814947%;}
.icon-turkmenistan {background-position: 0 92.170819%;}
.icon-turksandcaicosislands {background-position: 0 92.52669%;}
.icon-tuvalu {background-position: 0 92.882562%;}
.icon-usa {background-position: 0 93.238434%;}
.icon-uganda {background-position: 0 93.594306%;}
.icon-ukraine {background-position: 0 93.950178%;}
.icon-unitedarabemirates {background-position: 0 94.30605%;}
.icon-unitedkingdom {background-position: 0 94.661922%;}
.icon-uruguay {background-position: 0 95.017794%;}
.icon-uzbekistan {background-position: 0 95.373665%;}
.icon-vanutau {background-position: 0 95.729537%;}
.icon-vaticancity {background-position: 0 96.085409%;}
.icon-venezuela {background-position: 0 96.441281%;}
.icon-vietnam {background-position: 0 96.797153%;}
.icon-virginislandsbritish {background-position: 0 97.153025%;}
.icon-virginislandsus {background-position: 0 97.508897%;}
.icon-wales {background-position: 0 97.864769%;}
.icon-wallisandfutuna {background-position: 0 98.220641%;}
.icon-westernsahara {background-position: 0 98.576512%;}
.icon-world {background-position: 0 98.932384%;}
.icon-yemen {background-position: 0 99.288256%;}
.icon-zambia {background-position: 0 99.644128%;}
.icon-zimbabwe {background-position: 0 100%;}