@import 'skin';
.self-exclusion-container-m{
  float: left;
  width: 100%;
  background: $skin-palette-10;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06) inset;
  padding: 15px 10px;
  margin: 0 0 1px;
}
.self-exclusion-form-item-m{
  float: left;
  width: 100%;
}
.self-exclusion-form-item-m > label{
  float: left;
  width: 100%;
  font-size: 13px;
  line-height: 16px;
  color: $text-palette-4;
  margin: 0 0 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.self-exclusion-form-item-m > .single-form-item{
  margin-bottom: 10px;
}
.self-exclusion-container-m > p{
  float: left;
  width: 100%;
  color: $text-palette-6;
  font-size: 13px;
  line-height: 16px;
  text-align: justify;
  padding: 0 0 10px;
}
.radio-form-item{
  float: left;
  width: 100%;
  margin: 0 0 10px;
}
.radio-form-item > label{
  float: left;
  width: 100%;
  color: $text-palette-6;
  font-size: 13px;
  line-height: 16px;
  padding: 5px 0 5px 20px;
  position: relative;
  min-height: 20px;
  margin: 0 0 5px;
}
.radio-form-item > label:before{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: $text-palette-6;
  z-index: 10;
}
.radio-form-item > label > input{
  position: absolute;
  left: -9999em;
  opacity: 0;
}
.radio-form-item > label > input:checked + span:before{
  content: "";
  display: block;
  position: absolute;
  left: 5px;
  top: 10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: $skin-palette-11;
  z-index: 21;
}