@font-face {
  font-family: 'icomoon';
  src:url('../../../../fonts/icons/icomoon.eot?s2kl4o4');
  src:url('../../../../fonts/icons/icomoon.eot?#iefixs2kl4o4') format('embedded-opentype'),
  url('../../../../fonts/icons/icomoon.woff?s2kl4o4') format('woff'),
  url('../../../../fonts/icons/icomoon.ttf?s2kl4o4') format('truetype'),
  url('../../../../fonts/icons/icomoon.svg?s2kl4o4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}