$hero-color: #a61f67;
$skin-color: #282c38;
$text-color: $skin-color;
$logo-bg: url(../../../../skins/vbet.com/mobile/images/VbetVivaro.gif)  no-repeat 50% 100% /contain;
$mobile-app: url(../../../../skins/vbet.com/mobile/images/get-app.png)  no-repeat 50% 50% /contain;