@import 'skin';
.change-password-container-m{
  float: left;
  width: 100%;
  background: $skin-palette-10;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06) inset;
  padding: 15px 10px;
  margin: 0 0 1px;
}
.change-password-form-item-m{
  float: left;
  width: 100%;
}
.change-password-form-item-m > label{
  float: left;
  width: 100%;
  font-size: 13px;
  line-height: 16px;
  color: $text-palette-4;
  margin: 0 0 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.change-password-form-item-m > .single-form-item{
  margin-bottom: 10px;
}